@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;    
}

.container {
    width: 500px;
    background: #191970;
    color: #ffffff;
    border-radius: 12px;
    padding: 30px 40px;
    
}

.container .form-header {
    position: relative;
    text-align: center;
    margin: 40px;
}

.form-header p {
    color: #C4C4C4;
    font-size: 15px;
}

.form-header h1 {
    font-size: 25px;
}

.input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0
}

.input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.input-field input::placeholder{
    color: #c4c4c4;
    font-size: 16px;
    
}

.input-field i {
    position: absolute;
    left: 15px;
    top: 37%;
    font-size: 12px;
    color: #C4C4C4;
    transform: translate(-50);
}

.container .remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-me label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-me a {
    color: #ff751f;
    text-decoration: none;
}

.remember-me a:hover {
    text-decoration: underline;
}

.container .login-btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #191970;

}
.container .divider {
    display: flex;
    align-items: center;
    gap: 20;
    font-size: 14.5px;
    color: #C4C4C4;
    margin-top: 40px;
}

.divider:before,
.divider::after {
    content:"";
    flex: 1;
    height: 1px;
    background-color: #C4C4C4;
}

.divider::before {
    margin-right: 0.5em;
}

.divider::after {
    margin-left: 0.5em;
}

.form-bottom {
    display: flex;
    flex-direction: horizontal;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-socials {
    width: 100%;
    height: 45px;
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.socials-btn--social {
    border: none;
    transition: .3s ease;  
}

.form-socials button .icon-btn--1{
    width: 40px;
    height: 40px;
}
.form-socials button .icon-btn--2{
    width: 45px;
    height: 45px;
}

.form-socials button .icon-btn--3{
    width: 40px;
    height: 40px;
}

.form-socials button .icon-btn--4{
    width: 40px;
    height: 40px;
}

.form-bottom button {
    width: 44px;
    height: 44px;
    background: transparent;
    border-radius: 999px;
    border: none;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
}

.container .signup-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.signup-link p {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a {
    color: #ff751f;
    text-decoration: none;
    font-weight: 600;
}

.signup-link a:hover{
    text-decoration: underline;
}

/**SIGN UP PAGE**/

.container .terms-policies {
    display: flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.terms-policies label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.terms-policies a {
    color: #ff751f;
    text-decoration: none;
}

.terms-polies a:hover {
    text-decoration: underline;
}